# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.venv/
env/
venv/

# Virtual environment
*.egg-info/
.eggs/

# Logs and debug files
*.log
*.out
*.err

# Model files
model/model.pkl

# Docker-related files
*.pid
*.tar
docker-compose.override.yml

# IDE-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform CLI cache directory
.terraform/

# Ignore variable definition files containing secrets
terraform.tfvars

# Ignore override files (commonly used for local testing)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive credential files
*.pem
*.key

# Ignore log and temp files
*.bak
*.tmp